
header {
  display: flex;
  justify-content: space-evenly;
  text-align: center;

}


h2 {
  display: flex;
  text-align: center;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 4px;
  border: solid 1px;
  width: 250px;
}

.nav {
  display: flex;
  flex-wrap: row;
  text-align: center;
}

  li {
  list-style: none;
    display: flex;
    border: solid 1px;
    padding: 5px;
    width: 60px;
    flex-wrap: column;

  }

  .content{
    display: flex;
    border: solid 1px;
    flex-wrap: row;
}

  .aside {
    border: solid 1px;

  }

  .slidebox{
    border: solid 1px ;
    width: 250px;
    text-align: center;
   
  }

 .article{
    display: flex;
    flex-wrap: row;
  }


.poem{
  display: flex;
  border: 2px solid black;
}


/*Device = Tablets, Ipads (portrait)
  Screen = B/w 600px to 990px*/
  @media (min-width:600px) and (max-width: 990px)  {
    .article {
     display: flex;
     flex-direction: column;
  } 
header{
  display: none;
}
}

/*  Small devices    */
@media (max-width:599px) {

header,.content{
  display: none;
}

.nav {
  display: flex;
  padding: 8px;
  flex-direction: column;

}


.nav > li {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 180px;

}
